# This workflow will build a package using Maven and then publish it to oss.sonatype.org (Nexus Repository Manager)
# For more information see: https://github.com/actions/setup-java#apache-maven-with-a-settings-path

name: Publish package to Maven Central Repository

on:
    release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'zulu'
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD

    - name: Setup GPG KeyRing
      run: ./.github/scripts/decrypt_secret.sh
      env:
        GPG_KEYRING: ${{ secrets.GPG_KEYRING }}
        
    - name: Build and Deploy with Maven
      run: mvn --file pom.xml -D gpg.keyname=71F57B8AFAE29A33097ABFEC333223C0CA0C8429 -B clean package verify javadoc:jar source:jar gpg:sign 
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}

    - name: Verify Build
      run: ./.github/scripts/verify_build.sh
